@model IEnumerable<MyECommerceWebSite2022.ModelsView.GroupsViewModel>
@inject MyECommerceWebSite2022.Resources.LocalizationService _localizer
@{
    ViewData["Title"] = @_localizer.GetLocalizedHtmlString("GroupsTab");
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<h1>@_localizer.GetLocalizedHtmlString("GroupsTab")</h1>

<p>
    <a asp-action="Create" class="btn btn-success"> @_localizer.GetLocalizedHtmlString("CreateNew")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupNameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupImgFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupNameAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupNameEn)
                </td>
                <td>
                    <img src="~/GroupImages/@item.GroupImgFile" style="height: 60px; width: 60px;" class="img-thumbnail" />
                </td>
                <td>
                    @Html.ActionLink(@_localizer.GetLocalizedHtmlString("Edit"), "Edit", new { id=item.id }) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink(@_localizer.GetLocalizedHtmlString("Delete"), "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
