
@model MyECommerceWebSite2022.ModelsView.ShowDataViewModel
@inject MyECommerceWebSite2022.Resources.LocalizationService _localizer
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/assets/js/jquery-3.4.1.min.js"></script>
<div class="tab-content" id="myTabContent" style="margin-top:130px;">
    <div id="HomeTab" class="tab-pane fade show active" role="tabpanel" aria-labelledby="Home">
        <!-- Start Banner Hero -->
        <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="./UserAssets/img/banner_img_01.jpg" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 class="h1 text-success"><b>Zay</b> eCommerce</h1>
                                    <h3 class="h2">Tiny and Perfect eCommerce Template</h3>
                                    <p>
                                        Zay Shop is an eCommerce HTML5 CSS template with latest version of Bootstrap 5 (beta 1).
                                        This template is 100% free provided by <a rel="sponsored" class="text-success" href="https://templatemo.com" target="_blank">TemplateMo</a> website.
                                        Image credits go to <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,
                                        <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Unsplash</a> and
                                        <a rel="sponsored" class="text-success" href="https://icons8.com/" target="_blank">Icons 8</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="./UserAssets/img/banner_img_02.jpg" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left">
                                    <h1 class="h1">Proident occaecat</h1>
                                    <h3 class="h2">Aliquip ex ea commodo consequat</h3>
                                    <p>
                                        You are permitted to use this Zay CSS template for your commercial websites.
                                        You are <strong>not permitted</strong> to re-distribute the template ZIP file in any kind of template collection websites.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="./UserAssets/img/banner_img_03.jpg" alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left">
                                    <h1 class="h1">Repr in voluptate</h1>
                                    <h3 class="h2">Ullamco laboris nisi ut </h3>
                                    <p>
                                        We bring you 100% free CSS templates for your websites.
                                        If you wish to support TemplateMo, please make a small contribution via PayPal or tell your friends about our website. Thank you.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <!-- End Banner Hero -->
        <!-- Start Categories of The Month -->
        <section class="container py-5">
            <div class="row text-center pt-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">@_localizer.GetLocalizedHtmlString("OurCategory")</h1>
                    <p>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="row">
                @{
                    if (Model != null && Model.Groups != null)
                    {
                        foreach (var item in Model.Groups)
                        {
                            <div class="col-12 col-md-4 p-5 mt-3">
                                <a href="#"><img src="GroupImages/@item.GroupImgFile" id="img_@item.id" name="@(System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en"? item.GroupNameEn : item.GroupNameAr)" onclick="group_onClick(@item.id,this)" class="rounded-circle img-fluid border" style="height: 300px; width: 300px;"></a>
                                <h5 class="text-center mt-3 mb-3">
                                    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
                                    {
                                        @item.GroupNameEn
                                    }
                                    else
                                    {
                                        @item.GroupNameAr;
                                    }
                                </h5>
                                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
                            </div>
                        }
                    }
                }
                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="#"><img src="./UserAssets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                    <h5 class="text-center mt-3 mb-3">Watches</h5>
                    <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
                </div>
                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="#"><img src="./UserAssets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
                    <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
                </div>
                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="#"><img src="./UserAssets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                    <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
                    <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
                </div>
            </div>
        </section>
        <!-- End Categories of The Month -->
        <!-- Start Featured Product -->
        <section class="bg-light">
            <div class="container py-5">
                <div class="row text-center py-3">
                    <div class="col-lg-6 m-auto">
                        <h1 class="h1">Featured Product</h1>
                        <p>
                            Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="shop-single.html">
                                <img src="./UserAssets/img/feature_prod_01.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                    <li class="text-muted text-right">$240.00</li>
                                </ul>
                                <a href="shop-single.html" class="h2 text-decoration-none text-dark">Gym Weight</a>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                                </p>
                                <p class="text-muted">Reviews (24)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="shop-single.html">
                                <img src="./UserAssets/img/feature_prod_02.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                    <li class="text-muted text-right">$480.00</li>
                                </ul>
                                <a href="shop-single.html" class="h2 text-decoration-none text-dark">Cloud Nike Shoes</a>
                                <p class="card-text">
                                    Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                                </p>
                                <p class="text-muted">Reviews (48)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="shop-single.html">
                                <img src="./UserAssets/img/feature_prod_03.jpg" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                    </li>
                                    <li class="text-muted text-right">$360.00</li>
                                </ul>
                                <a href="shop-single.html" class="h2 text-decoration-none text-dark">Summer Addides Shoes</a>
                                <p class="card-text">
                                    Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                                </p>
                                <p class="text-muted">Reviews (74)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Featured Product -->
    </div>
    <div id="ItemsTab" class="tab-pane fade" role="tabpanel" aria-labelledby="Items">
        @await Html.PartialAsync("_Prouducts")
    </div>
    <div id="AboutTab" class="tab-pane fade" role="tabpanel" aria-labelledby="About">
        @await Html.PartialAsync("_About")
    </div>
    <div id="InvoiceTab" class="tab-pane fade" role="tabpanel" aria-labelledby="invLst">
        @await Html.PartialAsync("_Invoice")
    </div>

</div>

<script>
    var userLang = JSON.parse('@Html.Raw(Json.Serialize(ViewData["lan"]))');
    var shopingCar = 0;
    function activaTab(tab) {

        $('.navbar a[href="#' + tab + '"]').tab('show');
    };

    function activaTabfoter(tab) {
        $('#' + tab).tab('show');
    };

    function group_onClick(gid,e) {
        debugger
        if (gid >= 0) {
            $.ajax({
                type: "POST",
                url: "/Home/getItems",
                data: { 'gid': gid },
                contentType: "application/x-www-form-urlencoded",
                dataType: "json",
                success: function (r) {
                    debugger
                    @*var userLang = JSON.parse('@Html.Raw(Json.Serialize(ViewData["lan"]))');*@
                    var card = "";
                    $("#itemsDiv").empty();
                    $.each(r, function (k, v) {
                        debugger
                        if (userLang === "en")
                        {
                            card = '<div class="col-md-4">' +
                                '<div class="card mb-4 product-wap rounded-0">' +
                                '<div class="card rounded-0">' +
                                '<img class="card-img rounded-0 img-fluid" id="itmProduct_' + v.id + '" src="ItemsImages/' + v.itemImgFile + '">' +
                                '<div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">' +
                                '<ul class="list-unstyled">' +
                                '<li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>' +
                                '<li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>' +
                                '<li><a class="btn btn-success text-white mt-2 add" id="' + v.id + '" name="' + v.itemNameEn + '" href="#" onclick="add_ItemToInvoice('+ v.price +', this);"><i class="fas fa-cart-plus"></i></a></li>' +
                                '</ul>' +
                                '</div>' +
                                '</div>' +
                                '<div class="card-body">' +
                                '<a href="shop-single.html" class="h3 text-decoration-none">' + v.itemNameEn + '</a>' +
                                '<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">' +
                                '<li>' + v.itemDescreptionEn + '</li>' +
                                '<li class="pt-2">' +
                                '<span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>' +
                                '<span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>' +
                                '<span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>' +
                                '<span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>' +
                                '<span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>' +
                                '</li>' +
                                '</ul>' +
                                '<ul class="list-unstyled d-flex justify-content-center mb-1">' +
                                '<li><i class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i><i class="text-muted fa fa-star"></i><i class="text-muted fa fa-star"></i></li></ul>' +
                                '<p class="text-center mb-0" id="price" name="' + v.price + '">$' + v.price + '</p></div></div></div>';
                        }
                        else
                        {
                            card = '<div class="col-md-4">' +
                                '<div class="card mb-4 product-wap rounded-0">' +
                                '<div class="card rounded-0">' +
                                '<img class="card-img rounded-0 img-fluid" id="itmProduct_' + v.id + '" src="ItemsImages/' + v.itemImgFile + '">' +
                                '<div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">' +
                                '<ul class="list-unstyled">' +
                                '<li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>' +
                                '<li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>' +
                                '<li><a class="btn btn-success text-white mt-2 add" id="' + v.id + '" name="' + v.itemNameAr + '" href="#" onclick="add_ItemToInvoice(' + v.price +', this);"><i class="fas fa-cart-plus"></i></a></li>' +
                                '</ul>' +
                                '</div>' +
                                '</div>' +
                                '<div class="card-body">' +
                                '<a href="shop-single.html" class="h3 text-decoration-none">' + v.itemNameAr + '</a>' +
                                '<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">' +
                                '<li>' + v.itemDescreptionAr + '</li>' +
                                '<li class="pt-2">' +
                                '<span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>' +
                                '<span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>' +
                                '<span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>' +
                                '<span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>' +
                                '<span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>' +
                                '</li>' +
                                '</ul>' +
                                '<ul class="list-unstyled d-flex justify-content-center mb-1">' +
                                '<li><i class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i><i class="text-warning fa fa-star"></i><i class="text-muted fa fa-star"></i><i class="text-muted fa fa-star"></i></li></ul>' +
                                '<p class="text-center mb-0" id="price" name="' + v.price + '">$' + v.price + '</p></div></div></div>';

                        }
                        $("#itemsDiv").append(card);
                        $("#departement").html(e.name);
                        activaTab('ItemsTab');
                    });

                }
            });
        }
    }

    function add_ItemToInvoice(price, e) {
        debugger;
       /* var found = false;*/
       
       /* var itmCode = parseInt($('#tbl >tbody >tr').find(".itmCode").text());*/
        //$('#tbl tr').each(function () {
        //    var existid = $(this).find(".itmCode").text();
        //    if (id === existid) {
        //        found = true;               
        //    }
        //});
        //if (!found) {
        //    shopingCar++;
        //}  
        var id = e.id;
        shopingCar++;
        $.ajax({
            type: "POST",
            url: "/Home/addItemToCard",
            dataType: "json",
            data: { id: id, shopingCar: shopingCar},
            contentType: "application/x-www-form-urlencoded",
            success: function (r) {                    
                $("#shopingCar").html(shopingCar);
            }
        });

    };

    function ShowItemCard() {
        $.ajax({
            type: "get",
            url: "/Home/ShowItemCard",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (r) {
                if (r != null) {
                    $('tbody').empty();
                    if (userLang === "en") {
                        $.each(r, function (k, v) {
                            var totl = v.quantity * v.price;                          
                            const newTr = '<tr class="text-center"><td class="pt-3-half d-none itmCode">' + v.id + '</td><td class="pt-3-half itemName">' + v.itemNameEn + '</td> <td class="pt-3-half" contenteditable="true"><input type="number" value="' + v.quantity + '" class="qty" style="width:80px;text-align:center"></td> <td class="pt-3-half price">' + v.price + '</td><td class="pt-3-half total">' + totl + '</td><td><img class="img-thumbnail" src="ItemsImages/' + v.itemImgFile  + '" alt="Card image" style="width:30%;height:30"></td><td><span class="table-remove"><button type="button" id="delBtn" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light delBtn">حذف </button> </span> </td></tr > ';
                            $('tbody').append(newTr);

                        });
                    }
                    else {
                        $.each(r, function (k, v) {
                            var totl = v.quantity * v.price;                          
                            const newTr = '<tr class="text-center"><td class="pt-3-half d-none itmCode">' + v.id + '</td><td class="pt-3-half itemName">' + v.itemNameAr + '</td> <td class="pt-3-half" contenteditable="true"><input type="number" value="' + v.quantity + '" class="qty" style="width:80px;text-align:center"></td> <td class="pt-3-half price">' + v.price + '</td><td class="pt-3-half total">' + totl + '</td><td><img class="img-thumbnail" src="ItemsImages/' + v.itemImgFile + '" alt="Card image" style="width:30%;height:30"></td><td><span class="table-remove"><button type="button" id="delBtn" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light delBtn">حذف </button> </span> </td></tr > ';
                            $('tbody').append(newTr);

                        });
                    }
                }

                calc_total();
            }
        });

    };

    function calc_total() {
        var sum = 0;
        $(".total").each(function () {
            sum += parseFloat($(this).text());
        });
        $('#sum').text(sum);
    }

    $(document).ready(function () {
        ShowItemCard();

        $.ajax({
            type: "get",
            url: "/Home/GeSshopingCarCount",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (r) {
                debugger;
                shopingCar = r;
                $("#shopingCar").html(r);                
            }
        });
       

        $("#invLst").click(function () {
            activaTab('InvoiceTab');
        });
        $("#tabinvLst").click(function () {
            ShowItemCard();
        });
        $("#Home,#About,#Items,#tabinvLst").click(function () {
            $(window).scrollTop(0);
        });

        $("#srchSlect").on("change", function () {
            debugger
            var gid = $(this).val();
            if (gid >= 0) {
                $.ajax({
                    type: "POST",
                    url: "/UserItems/getItems",
                    data: { 'gid': gid },
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "json",
                    success: function (r) {
                        var card = "";
                        $("#cardsDiv").empty();
                        $.each(r, function (k, v) {
                            debugger
                            card = '<div class="card bg-light cardimg"><img class="card-img-top" id="img_' + v.id + '" src="ItemsImages/' + v.itemImgFile + '" alt="Card image" style="width:100%;height:200px">' +
                                '<div class="card-body text-center" id="itm"><h4 class="card-title text-center itmName">' + v.itemName + '</h4> <h4 class="card-title text-center itmDesc">' + v.itemDescreption + '</h4><p class="card-text text-center itmPrice" id="price" name="' + v.price + '">ريال' + v.price + ' </p>' +
                                '<button  class="add btn btn-primary" id="' + v.id + '" name="' + v.itemName + '" ><i class="fas fa-cart-plus"></i> إضافة للفاتورة</button></div></div>';

                            $("#cardsDiv").append(card);
                        });

                    }
                });
            }


        });

        $("#tbl tbody").on('click', '.delBtn', function () {
            debugger;            
            var row = $(this).closest("tr");
           /* var qty = parseFloat(row.find(".qty").val());*/
            var id = parseInt(row.find(".itmCode").text());
            shopingCar--;          
            $.ajax({
                type: "POST",
                url: "/Home/DeleteItemFromCard",
                dataType: "json",
                data: { id: id, shopingCar: shopingCar },
                contentType: "application/x-www-form-urlencoded",
                success: function (r) {
                   
                    $("#shopingCar").html(shopingCar);
                    $(row).remove();
                    calc_total();
                }
            });
        });

        $("table").on("change", "input", function () {
            debugger
            var row = $(this).closest("tr");
            var id = parseInt(row.find(".itmCode").text());
            var qty = parseFloat(row.find(".qty").val());
            var price = parseFloat(row.find(".price").text());
            var total = qty * price;
            row.find(".total").text(isNaN(total) ? "" : total);
            $.ajax({
                type: "POST",
                url: "/Home/changeItemCardQty",
                dataType: "json",
                data: { id: id, qty: qty },
                contentType: "application/x-www-form-urlencoded",
                success: function (r) {

                }
            });
            calc_total();
        });

        $("#payBtn").click(function () {
            debugger
            var InvoiceDetailes = new Array();
           /* var InvoiceMaster = new Array();*/
            var customerName = $("#customerName").val();
            var customerTel = $("#tel").val();
            var customerMobile = $("#mobile").val();
            var customerAddress = $("#address").val();
            var amount = $("#sum").text();
            var PaymentmethodType = $("input[type='radio'][name='payment-method']:checked").attr('id');
            if (amount > 0 && customerName != "" && customerMobile != "" && customerAddress != "") {
               

                $('#tbl tbody tr').each(function () {
                    debugger
                    var inv = {};                  

                    inv.itemCode = $(this).find(".itmCode").text();
                    inv.itemName = $(this).find(".itemName").text();
                    inv.quantity = $(this).find(".qty").val();
                    inv.price = $(this).find(".price").text();

                    InvoiceDetailes.push(inv);
                });
                var invMaster = {};
                invMaster.customerName = customerName;
                invMaster.customerTel = customerTel;
                invMaster.customerMobile = customerMobile;
                invMaster.customerAddress = customerAddress;
                invMaster.amount = amount;
                /*InvoiceMaster.push(invMaster);*/

                $.ajax({
                    type: "POST",
                    url: "/Home/payming",
                    data: { 'InvoiceMaster': invMaster, 'InvoiceDetailes': InvoiceDetailes, 'amount': amount, 'PaymentmethodType': PaymentmethodType },
                    contentType: "application/x-www-form-urlencoded", /*application/json; charset=utf-8",*/
                    dataType: "json",
                    success: function (r) {
                        debugger
                        window.location = r.url;
                       /* alert(r.url);*/
                    }
                });
            }
            //else {
            //    alert("يجب ادخال اسم العميل والعنوان ورقم الجوال");              
            //}

        }
        );

        $('.nav li a').click(function (e) {
            $('.nav li.active').removeClass('active');
            var $parent = $(this).parent();
            $parent.addClass('active');
            e.preventDefault();
        });


        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');

    });

</script>


